# Kernel source clone
linux/

# Build outputs
minpi.img
initramfs.cpio.gz
kernel/kernel8.img
kernel/dtbs/
kernel/config
kernel/out/

# Fetched firmware blobs
firmware/

# Fetched/compiled binaries and generated symlinks in initramfs
initramfs/bin/
initramfs/sbin/
initramfs/init
initramfs/lib/

# Alpine package cache
.apk-cache/

# Generated at image build time
boot/commit.txt

# Debug photos
*.jpeg
*.jpg
*.png
